

.choresText {
   color: rgb(177, 11, 11);
   font-style: italic;
}

.choresHeading {
   color: black;
}

.choresHeading, .choresText {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-decoration: underline;
   font-size: 22px;
   text-align: left;
}